{# copies in the base.html template #}
{% extends 'base.html' %}


{# overrides the page title of the base template #}
{% block head %}
    <title>Reservations</title>
{% endblock %}


{# includs boby of this page#}
{% block body %}

    <div class="container">
       <h1>Reservations</h1>
    <br>
{% for reservation in reservations %}
    <p>Reservation ID: {{ reservation.id}}</p>
    <p>Table: {{ reservation.table }}</p>
    <p>Customer ID: {{ reservation.customer }}</p>
    <p>Date: {{ reservation.date }}</p>
    <p>Start Time: {{ reservation.start_time }}</p>
    <p>End Time: {{ reservation.finish_time }}</p>
    <br>
    <br>
{% endfor %}
    <a class="p-2 text-dark" href="{% url 'make_reservation' %}">Make Reservation</a>
    <a class="p-2 text-dark" href="{% url 'delete_reservation' %}">Cancel Reservation</a>
</div>
{% endblock %}
